.about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-us-section {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  height: 90vh;
  padding: 40px;
  background: #f4f4f4;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Añade la clase cuando la sección esté en el viewport */
.in-view {
  opacity: 1;
  transform: translateY(0);
}

.about-us-container {
  padding-top: 50px; 
  background: #f4f4f4;
}

.about-us-text {
  flex: 1;
  font-size: 2.5rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-text h2 {
  color: #FF8806;
  font-weight: bold;
  font-size: 5rem;  /* Tamaño relativo para que sea responsive */
  text-align: center;
  padding-bottom: 20px;
}

.about-us-text p {
  font-size: 2.5rem;  /* Tamaño relativo para que sea responsive */
  padding: 0 20px; /* Espacio comprimido en los costados */
}

/* Alinear el texto según la imagen */
.left .about-us-text {
  text-align: center;
  margin-right: 20px;
}

.right .about-us-text {
  text-align: center;
  margin-left: 20px;
}

.about-us-image {
  flex: 1;
  width: 45%;
  height: auto;  /* Ajuste automático para mantener la proporción */
  max-height: 70vh;
  object-fit: contain;  /* Mantener la imagen proporcional */
  border-radius: 10px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

/* Media Queries para pantallas medianas */
@media (max-width: 1000px) {
  .about-us-section {
    flex-direction: column;
    text-align: center;
    height: auto; /* Ajusta la altura automáticamente */
    padding: 20px;
  }

  .left .about-us-text {
    margin-left: 0px;
  }
  
  .right .about-us-text {
    margin-left: 0px;
  }
  

  .about-us-text h2 {
    font-size: 6vw;
  }

  .about-us-text p {
    font-size: 4vw;
    padding: 0 15px; /* Espacio más comprimido en pantallas medianas */
  }

  .about-us-image {
    width: 80%;
    margin: 20px 0;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
  .about-us-text h2 {
    font-size: 8vw;  /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
    padding-bottom: 10px;
  }

  .about-us-text p {
    font-size: 5vw;  /* Ajusta el tamaño de fuente para pantallas pequeñas */
    padding: 0 10px; /* Espacio aún más comprimido en pantallas pequeñas */
  }
  .left .about-us-text {
    margin-right: 0px;
  }
  
  .right .about-us-text {
    margin-left: 0px;
  }
  

  .about-us-section {
    padding: 15px;
  }

  .about-us-image {
    width: 100%;
    margin: 15px 0;
  }
}
