/* Hover sobre los enlaces Nav.Link */
.navbar .nav-link:hover {
    background-color: #e67e00 !important; /* Color naranja más oscuro para el fondo */
    color: #fff !important; /* Asegurarse que el texto sigue blanco */
  }

  /* Cambiar color de la flecha del NavDropdown */
  .navbar .dropdown-toggle::after {
    color: #fff !important; /* Flecha blanca */
    /* Asegurando que se aprecie el cambio en el tamaño de la flecha */

    font-size: 2rem; /* Ajusta el tamaño de la flecha */

  
  
  }
  
